
@model SomerenWeb.Models.Room
@{ ViewData["Title"] = "Delete room"; }

<section>
    <h1>Delete room</h1>

    <article>
        <p>Are you sure you want to delete room <strong>@Model.RoomNumber</strong>?</p>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <p>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </p>
        </form>
    </article>
</section>
